body {  
    font-family: Arial, sans-serif;  
    background-color: #040101;  
    line-height: 1.6;  
    margin: 0;  

}  

h1 {  
    font-size: 2.5rem;  
    color: #414040;  
}  

h2 {  
    font-size: 2rem;  
    margin-top: 1.5em;  
    color: #555;  
}  

h3 {  
    font-size: 1.5rem;  
    margin-top: 1em;  
    color: #666;  
}  

nav ul {  
    list-style-type: none; /* 去除列表项前的圆点 */  
    padding: 0;  
}  
nav ul li {  
    margin: 10px 0; /* 上下间隔 */  
    padding: 15px; /* 内边距 */  
    border: 2px solid hsl(260, 60%, 2%); /* 绿色边框 */  
    border-radius: 5px; /* 边框圆角 */  
    background-color: #1d1c1c; /* 深色背景 */  
    font-weight: bold; /* 加粗字体 */  
    transition: background-color 0.3s; /* 背景颜色过渡效果 */  
    text-align: center; /* 居中对齐 */  
}  

nav ul li a {  
    text-decoration: none; /* 去除下划线 */  
    color: #9d9f9e; /* 绿色文字 */  
}  

nav ul li a:hover {  
    text-decoration: underline; /* 悬停时下划线 */  
    color: #fff; /* 悬停时文字颜色变为白色 */  
}  


ol, ul {  
    margin-left: 20px; /* 列表左边距 */  
}  

.toc {  
    background: #e5e7eb;  
    padding: 1em;  
    margin: 0 auto 2em auto;  
    border-radius: 8px;  
    border: 2px solid #ccc;  
    text-align: center;  
}  

.content-section {  
    background: white;  
    padding: 1.5em;  
    border-radius: 8px;  
    margin-bottom: 2em;  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
}  

a {  
    color: #1D4ED8;  
    text-decoration: underline;  
}  

h2, h3 {  
    border-bottom: 2px solid #e5e7eb;  
    padding-bottom: 0.5em;  
}


footer {  
    text-align: center; /* 页脚内容居中 */  
    padding: 20px; /* 内边距 */  
    background: #35424a; /* 页脚背景颜色 */  
    color: white; /* 页脚文字颜色 */  
}