body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.forum-header {
    background-color: #1a1a1a;
    color: white;
    padding: 20px;
    text-align: center;
}

.header-content h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
}

.forum-main {
    padding: 20px;
}

.trending-topics {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.trending-topics h2 {
    margin-top: 0;
}

.carousel {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.carousel-item h4{
    background-color: #555;
    padding: 10px;
    border-radius: 5px;
    flex: 0 0 auto;
}

.topics-overview h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.topics-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-decoration: none;
    gap: 20px;
}

.topic-card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

.topic-card:hover {
    transform: scale(1.05);
}

.topic-icon img {
    width: 50%;
    height: auto;
    margin-bottom: 20px;
}

.forum-footer {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 10px;
}

.forum-footer nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.forum-footer nav ul li {
    display: inline;
}

.forum-footer nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
