<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Material Design for Bootstrap</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />

  <link rel="stylesheet" href="../css/styles.css"/>
</head>

<body>

  <nav class="navbar content-nav">
    <div class="navdiv">
      <div class="logo">
        <a href="#">LISW</a>
      </div>
        <ul>
          <button>
            <a id="login" href="components/login/login.html" role="button">Personal Center</a>
          </button>
        </ul>
    </div>
  </nav>

  <div class="content-div">
    <div class="side-content">
    </div>
    <div class="item-div">
        <ul class="menu">
            <li>
                <a href="#" class="menu-item">knowledge</a>
            </li>
            <li>
                <a href="#" class="menu-item">exercise</a>
            </li>
            <li>
                <a href="#" class="menu-item">interaction</a>
            </li>
            <li>
                <a href="#" class="menu-item">resources</a>
            </li>
            <li>
                <a href="#" class="menu-item">Forum content</a>
            </li>

        </ul>
    </div>
        
  </div>


</body>

</html>