
<!DOCTYPE html>

  <html
    data-controller="wechat-share"
    data-water-mark-text-value="LISW"
  >
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>首页 | LISW</title>
      <link rel="icon" type="image/png" href="https://saas.bk-cdn.com/home_logo.png">
      <meta name='them' content="#03c9a9">
      <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="TTaADTjXpGWjS+s3jGOd79wcZzrTdq9MmQ3hgZJKXn1h5DOSbnem2brkBj/ld81ooZyW48x43tK8qmHJxmTI7Q==" />
      
      <link rel="stylesheet" media="all" href="https://assets.bk-cdn.com/assets/tenant_frontend-87319b93860703473f57b9a320aa12ae1c83dfa8495f65c90d95b04ff1d789fd.css" />
      <link rel="stylesheet" media="all" href="https://assets.bk-cdn.com/assets/packs/css/vendors~admin~tenant/frontend_tailwind-d5f04e3c.chunk.css" />
<link rel="stylesheet" media="all" href="https://assets.bk-cdn.com/assets/packs/css/tenant/frontend_tailwind-da10b66d.chunk.css" />
      
		<link rel="stylesheet" href="https://assets.bk-cdn.com/templates/tailwords/1/assets/stylesheets/animate.min.css?_t=1724571527" type="text/css" media="all"/>
    <link rel="stylesheet" href="https://assets.bk-cdn.com/templates/tailwords/1/assets/stylesheets/custom.css?_t=1724571527" type="text/css" media="all"/>
    
    <style>
      :root {
        --color-primary: #03c9a9;
        --animate-delay: 0.5s;
      }
      .banner-image {
        
          background: var(--color-primary);
          background: -webkit-linear-gradient(115deg, #00000000, #00000065) var(--color-primary);
          background: linear-gradient(115deg, #00000000, #00000065) var(--color-primary);
        
      }
      .banner-mask {
        background-color: transparent;
      }
      .bg-footer {
        
          background: #464646;
          background: linear-gradient(to right, #464646, #6d6d6d);
        
      }
      @media screen and (max-width: 540px) {
        .editor_js--embed > iframe {
          min-height: 273px;
        }
        
      }
      b.highlight {
        color: var(--color-primary);
      }
    </style>
    <script type="text/javascript" src="https://assets.bk-cdn.com/templates/tailwords/1/assets/javascripts/jquery.min.js?_t=1724571527" defer></script>
    <script type="text/javascript">
      (function(){
        scroll_top = 0
        addEventListener("turbo:before-render", function(){
          let page_tree = document.querySelector("[data-turbo-permanent]#page-tree")
          if(page_tree != null) { scroll_top = page_tree.scrollTop }
        })
        addEventListener("turbo:render", function(){
          let page_tree = document.querySelector("[data-turbo-permanent]#page-tree")
          if(page_tree != null) { page_tree.scrollTop = scroll_top }
        })
        window.addEventListener('popstate', function(event){
          if(event.state){
            location.reload()
          }
        })
      })()</script>
  
      <script src="https://assets.bk-cdn.com/assets/jweixin-6192301ba62ad963e1ee90ab87a9efa7ee3323c6dd920626b2e1ce36b2f2fb96.js" media="all"></script>
      <script src="https://assets.bk-cdn.com/assets/packs/js/runtime~turbo-e7d155da79581033c55f.js" defer="defer"></script>
<script src="https://assets.bk-cdn.com/assets/packs/js/vendors~turbo-75d91172966edf263fa2.chunk.js" defer="defer"></script>
<script src="https://assets.bk-cdn.com/assets/packs/js/turbo-61f7f5b887d5424822a4.chunk.js" defer="defer"></script>
      <script src="https://assets.bk-cdn.com/assets/packs/js/runtime~tenant/frontend_tailwind-ec14154691d00770587c.js" defer="defer"></script>
<script src="https://assets.bk-cdn.com/assets/packs/js/vendors~frontend~tenant/admin~tenant/frontend~tenant/frontend_tailwind~view_component_preview-fb44f627bc93191e9dc0.chunk.js" defer="defer"></script>
<script src="https://assets.bk-cdn.com/assets/packs/js/vendors~admin~tenant/frontend_tailwind-0bde0ac55bf8f0df6424.chunk.js" defer="defer"></script>
<script src="https://assets.bk-cdn.com/assets/packs/js/tenant/frontend_tailwind-a472544e2ae647601f59.chunk.js" defer="defer"></script>
    </head>


    
  
  
  <body>
    <header>
      

      <!-- Top Nav-->
      <div class="w-full h-16 bg-white border-b" id="navigation">
        <div class="h-full">
          <div class="container flex flex-col h-full pt-3 mx-auto md:pt-4">
            <div class="flex flex-row justify-between md:mt-0">
              <a
                href="/"
                class="flex items-center text-gray-500 navbar-brand max-w-32"
                data-turbo="false">
                
                  <img
                    src="https://saas.bk-cdn.com/t/9a196f32-d35d-416b-aca5-4e0b9296f744/u/cc606514-7817-4ab1-b071-3253b31d31ff/1724571586771/%E5%BE%AE%E4%BF%A1%E6%88%AA%E5%9B%BE_20240825135539.png"
                    alt="LISW"
                    class="max-h-8">
                
              </a>
              <div class="flex items-center">
                
                <!-- PC -->
                <nav class="relative items-baseline hidden space-x-3 md:flex lg:space-x-5 xl:space-x-8" data-controller="navbar-search">
                  
                </nav>
                

                
                
                

                
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main style="min-height: calc(100vh - 136px);">
      




<div
  class="bg-center bg-no-repeat bg-cover banner-image animate__animated animate__fadeIn flex items-center justify-center flex-col"
  data-controller="contrast-bg-color"
  style="min-height: 400px;"
  >
  <div class="banner-mask flex-1 py-3 w-full flex items-center justify-center">
    <div class="container flex flex-col h-full mx-auto">
      <div class="flex flex-col items-center justify-center flex-grow">
        
        <div class="z-0 w-full md:w-2/3 flex items-center justify-center flex-col">
          <form action="/search" class="w-full">
            <div class="relative rounded-md shadow-sm">
              <button type="submit" class="absolute inset-y-0 right-0 flex items-center pl-4 pr-3 sm:right-auto">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-5 h-5 text-primary"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                </svg>
              </button>
              <input
                type="text"
                name="keywords"
                placeholder="请输入关键词查找"
                aria-labelledby="搜索"
                value=""
                class="block w-full h-12 pl-3 pr-10 transition duration-300 ease-in-out bg-white bg-opacity-75 border border-transparent rounded focus:ring-0 focus:border-primary sm:pl-12 sm:text-lg md:h-14 lg:h-16 focus:bg-opacity-90">
            </div>
          </form>
          
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-tranparent">
  <div class="container mx-auto mt-8">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 lg:gap-x-12 lg:gap-y-16 index__channel_cards">
      
        
        
        <div class="flex flex-col justify-between px-5 py-4 border rounded index__channel_card md:relative md:p-0 md:border-none">
          <div class="flex items-center justify-start">
            <img src="https://saas.bk-cdn.com/green_template_chbg.png" class="w-16 h-auto rounded-md" />
            <a class="ml-4 text-xl text-gray-900 hover:text-primary" href="/33b1">
              <h3>About us</h3>
            </a>
          </div>
          <ul class="flex-grow my-3">
            
            
            
            
          </ul>
          
          
        </div>
      
        
        
        <div class="flex flex-col justify-between px-5 py-4 border rounded index__channel_card md:relative md:p-0 md:border-none">
          <div class="flex items-center justify-start">
            <img src="https://saas.bk-cdn.com/green_template_chbg.png" class="w-16 h-auto rounded-md" />
            <a class="ml-4 text-xl text-gray-900 hover:text-primary" href="/30b1">
              <h3>FAQ</h3>
            </a>
          </div>
          <ul class="flex-grow my-3">
            
            
            
            
          </ul>
          
          
        </div>
      
        
        
        <div class="flex flex-col justify-between px-5 py-4 border rounded index__channel_card md:relative md:p-0 md:border-none">
          <div class="flex items-center justify-start">
            <img src="https://saas.bk-cdn.com/green_template_chbg.png" class="w-16 h-auto rounded-md" />
            <a class="ml-4 text-xl text-gray-900 hover:text-primary" href="/660d">
              <h3>Basic question</h3>
            </a>
          </div>
          <ul class="flex-grow my-3">
            
            
              
              <li class="mt-2 truncate">
                <a href="/660d/9562" class="relative transition duration-500 group text-gray-550 text-tiny hover:text-primary">
                  <span class="absolute inline-block w-1.5 h-1.5 border-0 bg-gray-400 rounded-full group-hover:bg-primary transition duration-500 page--title_point"></span>
                  <span class="ml-4">What is data organization?</span>
                </a>
              </li>
              
            
              
              <li class="mt-2 truncate">
                <a href="/660d/3af6" class="relative transition duration-500 group text-gray-550 text-tiny hover:text-primary">
                  <span class="absolute inline-block w-1.5 h-1.5 border-0 bg-gray-400 rounded-full group-hover:bg-primary transition duration-500 page--title_point"></span>
                  <span class="ml-4">What is software?</span>
                </a>
              </li>
              
            
              
              <li class="mt-2 truncate">
                <a href="/660d/6492" class="relative transition duration-500 group text-gray-550 text-tiny hover:text-primary">
                  <span class="absolute inline-block w-1.5 h-1.5 border-0 bg-gray-400 rounded-full group-hover:bg-primary transition duration-500 page--title_point"></span>
                  <span class="ml-4">What is hardware?</span>
                </a>
              </li>
              
                
            
            
          </ul>
          
          
            <div class="flex items-center justify-end w-full">
              <a class="flex items-center mt-1 transition duration-500 text-gray-400 text-tiny hover:text-primary group" href="/660d">
                <span>查看更多</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-3 w-3 ml-2 group-hover:translate-x-1.5 transition text-gray-800 group-hover:text-primary md:transform"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.2"
                    d="M14 5l7 7m0 0l-7 7m7-7H3" />
                </svg>
              </a>
            </div>
          
        </div>
      
    </div>
    
    
  </div>
</div>

    </main>

    
    

    
    

    
    

    
    

    
    
    
    
    
    

    <div class="w-full bg-footer" id="footer_content" data-turbo-permanent style="margin-top: calc(0px + 2rem);">
      <div class="container mx-auto">
        
          <div class="pb-8 flex flex-col md:flex-row justify-between relative">
            

            <div class="flex flex-col lg:flex-row lg:space-x-8 w-full" style="padding-top: calc(0px + 1rem);">
              
                <div class="flex flex-col items-start footer__contact pt-4 min-w-max">
                  
                    <div class="flex text-gray-200 items-top">
                      <pre class="text-sm whitespace-pre-wrap">1120230272@bit.edu.cn
15694907716</pre>
                    </div>
                  
                  
                </div>
              
              <div class="min-w-min order-first lg:order-last flex-1 flex flex-col md:flex-row" data-controller="footer-nav-generator" data-footer-nav-generator-content-value=""></div>
            </div>
          </div>
        
        <div class="pb-3 text-xs text-center text-gray-300">
          © 2024 LISW 版权所有
            
        </div>
      </div>
    </div>
  
<footer>
  <div class="container flex items-center justify-center">
      <a href="https://www.baklib.com/?utm_source=footer" class="flex items-center my-3">
        <img width="60px" src="https://assets.bk-cdn.com/assets/home/baklib_logo-2dbd07658a43bc323f3cc68f4e1bed8e0374a4c9c326997e31617d6d342e3911.png" />
        <span class="ml-1"></span>
      </a>
  </div>
</footer>
</body>

</html>

