<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="css/about-each.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>About Us</h1>
        </header>
        
        <section class="about-section">
            <img src="maggie.jpeg" alt="Me" class="about-image">
            <div class="about-content">
                <h2>About me</h2>
                <p>Hi！我是穆子雯，目前就读于BIT大数据专业（全英文班），大二学生一枚。
                    本人爱好广泛，野生画手+摄影+活动策划爱好者、日常发呆看球|有喜欢的football club和player但是不告诉你嘿嘿~哆啦A梦表情包重度依赖患者、明日方舟和无期迷途（不常上线）玩家，在每一次卡池中验证自己的狗*运气;)
                    在团队中任职CIO（虽然我是p人但所有人被我催债）和UI Designer，同时用html+css辅助CTO编写一些网页，很高兴与小伙伴们共同完成所有创想的落地!
                    Telephone+WeChat：18811352336</p>   </div>
        </section>

        <footer>
            <p>&copy; 2024 LISW. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>

 