<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="css/about-each.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>About Us</h1>
        </header>
        
        <section class="about-section">
            <img src="muhammet.jpeg" alt="Me" class="about-image">
            <div class="about-content">
                <h2>About me</h2>
                <p>Hi, my name is Muhammet. I have a deep passion for computer science, particularly when it comes to solving complex problems through programming. My journey in this field began with a simple curiosity about how things work behind the scenes in the digital world, which quickly grew into a love for coding and algorithmic challenges. The thrill of debugging a tricky piece of code or optimizing a solution to achieve better efficiency is something I find immensely satisfying. I enjoy diving into the intricacies of different programming languages, understanding their unique features, and applying them to solve real-world problems. Whether it's working on a data structure, exploring the depths of algorithms, or building interactive websites, I am always eager to learn and push the boundaries of what I can create with code.
                Outside the realm of computers, I have a strong affinity for sports. I believe that the discipline, teamwork, and perseverance required in sports mirror the qualities needed in computer science. Whether it's hitting the gym or engaging in a competitive game, sports provide a perfect balance to my life, keeping me physically active and mentally sharp. The determination and focus that I bring to my programming endeavors are mirrored in my approach to sports, making both areas of my life complementary and fulfilling.</p>
</div>
        </section>

        <footer>
            <p>&copy; 2024 LISW. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
